<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <!-- webpack inserts js here-->
</head>
<body>
<script>
    runLibNoExport3();
    runLibNoExport4();
    $(document).ready(()=> {
        console.log('global jquery working');
    })
</script>
<h2 class="some-style">Page 1</h2>
<h3 class="some-scss-style">Testing legacy scss</h3>
<h2 class="hello-title" th:text="'Hello, ' + ${name} + '!'"></h2>
<div>
    <button onclick="one.setHelloMsg();">SetMsg</button>
    <h3 id="one-msg">SetMsg unset</h3>
</div>
<a href="/two">Page2</a>
<div>
    <button onclick="one.incrementClick()">Clicks++</button>
</div>
<div id="vue-app">
    <!--    vue will render here-->
</div>
<div>
    Legacy icon: <img src="../assets/pointer-icon.svg" alt="legacy-pic" width="60px" height="60px">
</div>
<div class="heavy-image">

</div>
<!-- webpack inserts js here-->
</body>
</html>