<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <script src="static/bundle.js"></script>
</head>
<body>
<script>
    do1();
    do2();
    do3();
    do4();
</script>
<h2 class="some-style">Page 1</h2>
<h3 class="some-scss-style">Testing legacy scss</h3>
<h2 class="hello-title" th:text="'Hello, ' + ${name} + '!'"></h2>
<h3 id="one-msg">Default</h3>
<button onclick="one.setHelloMsg();">SetMsg</button>
<a href="/two">Page2</a>
<div id="vue-app">
    <hello count="123"/>
</div>
</div>
<!-- webpack inserts here-->
</body>
</html>