<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <script src="static/bundle.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.4.1.js"></script>-->
</head>
<body>
    <script>
        $(function() {
            console.log('jquery good from bundle.js');
        });
    </script>
    <h2 class="some-style"> Page 2</h2>
    <h3 id="two-msg">Default</h3>
    <h3 id="two-msg2">Default2</h3>
    <button onclick="two.setHelloMsg()">Change msg</button>
    <a href="/">Page1</a>
</body>
</html>